{{#each blogposts as |blogpost|}}
  <div>
    <h2>
      {{blogpost.title}}
    </h2>
    <h4> By {{blogpost.user.username}}</h4>
    <h5>Date: {{format_date blogpost.createdAt}}</h5>
    <p>
      {{blogpost.content}}
    </p>
  </div>
{{/each}}